html,
body {
	min-width: 1440px;
	margin: 0;
	padding: 0;

	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #283136;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.link:hover,
.link:focus {
  color: #fb565a;
}

.link:active {
  color: rgba(0, 0, 0, 0.3);
}

.link--cart::before {
  margin: 0 26px;
  display: inline-block;
  content: "";
  width:15px;
  height:15px;
  background: url(../img/svg/cart-icon.svg) no-repeat;
}

.fontsize--m {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.67;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background-color: #fb565a;
  color: #ffffff;
  font-family: 'Roboto', 'Arial', sans-serif;
  padding: 19px 22px;
	border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
	text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  outline: 0;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.btn__color--green {
  background-color: #00ca74;
}

.btn__color--green:hover,
.btn__color--green:focus {
  background-color: #00bc6c;
}

.btn__color--green:active {
  background-color: #00aa62;
}

.btn__color--yellow {
  background-color: #efc84a;
}

.btn__color--yellow:hover,
.btn__color--yellow:focus {
  background-color: #eab534;
}

.btn__color--yellow:active {
  background-color: #e5a722;
}

.btn__color--neutral {
  background-color: #eeeeee;;
  color: #000000;;
}

.btn__color--neutral:hover,
.btn__color--neutral:focus {
  background-color: #dfdfdf;
}

.btn__color--neutral:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.btn.pagination__active {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #d5d5d5;
}

.btn.slider__link {
  padding-left: 55px;
  padding-right: 55px;
}

.btn.media-item__link {
  padding-left: 39px;
  padding-right: 39px;
}

.btn.address__link {
  padding-left: 46px;
  padding-right: 46px;
}

.btn.contact-form__btn {
  padding-left: 82px;
  padding-right: 82px;
}

.btn.form-filter__btn {
  padding-left: 88px;
  padding-right: 88px;
}

.btn.pagination__next {
  padding-left: 79px;
  padding-right: 79px;
}

.btn.preview__btn {
  padding-left: 62px;
  padding-right: 62px;
}

.wrap {
  width: 100%;
  background-color: #eeeeee;
  padding: 45px 0;
}

.wrap--shop {
  padding-bottom: 74px;
}

.header {
  max-width: 1169px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .link {
  font-weight: 500;
  line-height: 1.88;
}

.logo {
  object-fit: contain;
}

.logo--link:hover,
.logo--link:focus {
  opacity: 0.8;
}

.logo--link:active {
  opacity: 0.3;
}

.navigation__item {
  display: inline-block;
  margin: 30px 22px;
}

.navigation__item--active {
  border-bottom: 2px solid #fb565a;
}

.page-title {
  padding: 15px 5px 5px 5px;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.content {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.content--shop {
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
}

.content__product {
  max-width: 760px;
}

.grid--shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sorter__title {
  line-height: 1;
}

.sorter__list {
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.sorter__item {
  display: inline-block;
}

.sorter__button {
  outline: none;
  border: 0;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: normal;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  opacity: 0.3;
  padding: 0;
}

.sorter__button:focus,
.sorter__button:hover {
  opacity: 0.6;
}

.sorter__button:active {
  opacity: 1;
}

.sorter__button--down::before {
  display: inline-block;
  content: "";
  width: 11px;
  height: 10px;
  background: url(../img/svg/icon-down-dir.svg) no-repeat;
  margin-left: 30px;
}

.sorter__button--up::before {
  display: inline-block;
  content: "";
  width: 11px;
  height: 10px;
  background: url(../img/svg/icon-up-dir.svg) no-repeat;
}


.preview {
  position: relative;
  margin-bottom: 30px;
  padding: 40px 0 0;
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

/* Круги на шапке */
.preview::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 14px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: 15px 0 #fff,
              30px 0 #fff;
  border-radius: 50%;
}

.preview__image {
  display: block;
}

.preview__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform .3s .2s, opacity .3s .2s;
  opacity: 0;
  transform: translate(0, 100%);
  background-color: #fff;
}

.preview:hover .preview__description {
  opacity: 1;
  transform: translate(0, 0);
}

.partners__list {
  display: flex;
}

.partners__item {
  object-fit: contain;
  opacity: 0.2;
}

.partners__item:hover,
.partners__item:focus {
  opacity: 1;
}

.partners__item:active {
  opacity: 0.1;
}

/* .modal,
.preview__description {
  display: none;
} */

