{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/order": [
			"custom-properties",
			"declarations"
		],
    "order/properties-order": [
      [
        "content",
        "position",
        "z-index",
        "top",
        "right",
        "bottom",
        "left",
        "width",
        "min-width",
        "max-width",
        "height",
        "min-height",
        "max-height",
        "display",
        "justify-content",
        "align-items",
        "overflow",
        "margin",
        "margin-top",
        "margin-right",
        "margin-bottom",
        "margin-left",
        "padding",
        "padding-top",
        "padding-right",
        "padding-bottom",
        "padding-left",
        "border",
        "border-top",
        "border-right",
        "border-bottom",
        "border-left",
        "border-radius",
        "background",
        "background-image",
        "background-color",
        "background-position",
        "background-repeat",
        "background-size",
        "color",
        "text-transform",
        "text-decoration",
        "line-height",
        "letter-spacing",
        "font",
        "font-family",
        "font-size",
        "font-style",
        "font-weight"
      ],
      {"unspecified": "bottom"}
    ]
  }
}
