body {
  min-width: 1200px;
	margin: 0;
	padding: 0;
	color: #283136;
	line-height: 1.5;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
  font-weight: 400;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}

.link:hover,
.link:focus {
  color: #fb565a;
}

.link:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 20px;
  border: 0;
	border-radius: 4px;
  background-color: #fb565a;
  color: #ffffff;
	text-transform: uppercase;
  text-decoration: none;
  line-height: 1.13;
  letter-spacing: normal;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  outline: none;
  text-align: center;
  box-sizing: border-box;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.btn--green {
  background-color: #00ca74;
}

.btn--green:hover,
.btn--green:focus {
  background-color: #00bc6c;
}

.btn--green:active {
  background-color: #00aa62;
}

.btn--yellow {
  background-color: #efc84a;
}

.btn--yellow:hover,
.btn--yellow:focus {
  background-color: #eab534;
}

.btn--yellow:active {
  background-color: #e5a722;
}

.btn--neutral {
  background-color: #eeeeee;
  color: #000000;
}

.btn--neutral:hover,
.btn--neutral:focus {
  background-color: #dfdfdf;
}

.btn--neutral:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.btn--close {
  width: 21px;
  height: 21px;
  padding: 0;
  background: url(../img/svg/close-cross.svg) no-repeat;
  opacity: 0.3;
  outline: none;
}

.btn--close:hover,
.btn--close:focus {
  background: url(../img/svg/close-cross.svg) no-repeat;
  opacity: 1;
}

.btn--close:active {
  background: url(../img/svg/close-cross.svg) no-repeat;
  opacity: 0.1;
}

.btn.slide__link {
  width: 240px;
  margin-top: 8px;
  box-sizing: border-box;
}

.btn.media-item__link {
  margin-top: 5px;
  padding-right: 40px;
  padding-left: 40px;
}

.btn.address__link {
  padding-right: 45px;
  padding-left: 45px;
}

.btn.contact-form__btn {
  margin-top: 10px;
  padding-right: 82px;
  padding-left: 82px;
}

.btn.form-filter__btn {
  padding-right: 88px;
  padding-left: 88px;
}

.btn.preview__btn {
  padding-right: 60px;
  padding-left: 60px;
}

.grid{
  display: flex;
}

.grid--shop {
  justify-content: space-between;
  margin: 26px 0px;
  flex-wrap: wrap;
}

.grid--media {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 60px auto;
}

.grid--company {
  justify-content: space-between;
  padding: 40px 0 50px 0;
  border-top: 2px solid #eeeeee;
}

.grid--partners {
  padding: 42px 0;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.wrap {
  width: 100%;
  padding: 50px 0 0 0;
  background-color: #eeeeee;
}

.wrap--shop {
  padding-bottom: 74px;
}

.header {
  max-width: 1160px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}

.header__cart {
  margin-top: 25px;
}

.header__navigation {
  margin: 25px 0 0 200px;
}

.header .link {
  line-height: 1.88;
  font-weight: 500;
}

.logo {
  position: relative;
  line-height: 0;
}

.logo--link:hover,
.logo--link:focus {
  opacity: 0.8;
}

.logo--link:active {
  opacity: 0.3;
}

.navigation__list {
  width: 640px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.navigation__item {
  margin-right: 46px;
  padding-bottom: 4px;
}

.navigation__item--active {
  border-bottom: 2px solid #fb565a;
}

.cart {

  width: 160px;
  display: flex;
  justify-content: flex-end;
}

.cart__link::before {
  content: "";
  position: relative;
  top: 3px;
  width:15px;
  height:15px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 25px;
  background: url(../img/svg/cart-icon.svg) no-repeat;
}

.page-title {
  padding: 37px 1px 0 0;
  color: #000000;
  line-height: 1;
  letter-spacing: normal;
  font-size: 55px;
  font-weight: 500;
  text-align: center;
}

.content {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.content--main {
   margin-bottom: 80px;
}

.content--shop {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 60px auto;
  flex-wrap: wrap;
}

.content__product {
  width: 760px;
}

.content__filter {
  width: 260px;
  margin-top: 15px;
}

.form-filter__item {
  margin-bottom: 14px;
  margin-left: 0px;
  padding: 0;
  border: none;
}

.form-filter__item--features {
  margin-bottom: 30px;
}

.form-filter__title {
  text-transform: uppercase;
  line-height: 1.67;
  font-size: 18px;
  font-weight: bold;
}

.form-filter__title--price {
  letter-spacing: 0.5px;
}

.form-filter__title--features {
  padding-top: 15px;
}

.range-area {
  margin: 48px 0 40px 0;
  color: #283136;
}

.no-js .range-panel {
  display: none;
}

.range-panel {
  position: relative;
  width: 260px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #eeeeee;
}

.range-panel__scale {
  width: 220px;
  height: 2px;
  background-color: #d7dcde;
}

.range-panel__scale--active {
  position: absolute;
  background-color: #00ca74;
}

.range-panel__controller {
  position: absolute;
  top: 29px;
  width: 3px;
  height: 3px;
  border: 9px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 3px #ababab;
}

.range-panel__controller--min {
  left: 18px;
}

.range-panel__controller--max {
  right: 18px;
}


.range-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #283136;
  line-height: 1.38;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  outline: none;
  text-align: center;
  text-transform: uppercase;
}

.range-inputs__value {
  width: 80px;
  height: 36px;
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  background-color: #eeeeee;
  outline: none;
  text-align: center;
}

.range-inputs__value[type='number'] {
    -moz-appearance:textfield;
}

.range-inputs__value::-webkit-outer-spin-button,
.range-inputs__value::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.range-inputs__value:hover,
.range-inputs__value:focus {
  box-shadow: 0 0 0 2px #ababab;
}

.form-list__item {
  position: relative;
  margin: 13px 0 15px 0;
  padding-left:  36px;
}

.form-list__label::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.4;
}

.form-list__label:hover::before {
  opacity: 1;
}

.form-list__label--radio::before {
  width: 25px;
  height: 25px;
  background: url(../img/svg/radio-off.svg) no-repeat;
}

.form-list__item--checkbox {
  margin: 15px 0 16px 0;
}

.form-list__label--checkbox::before {
  width: 23px;
  height: 23px;
  background-image: url(../img/svg/checkbox-off.svg);
}

.form-list__radio:checked + .form-list__label--radio::before {
  background: url(../img/svg/radio-on.svg) no-repeat;
}

.form-list__radio:focus + .form-list__label--radio::before {
  opacity: 1;
}

.form-list__radio:disabled + .form-list__label--radio::before {
  opacity: 0.1;
}

.form-list__checkbox:checked + .form-list__label--checkbox::before {
  width: 27px;
  background: url(../img/svg/checkbox-on.svg) no-repeat;
}

.form-list__checkbox:focus + .form-list__label--checkbox::before {
  opacity: 1;
}

.form-list__checkbox:disabled + .form-list__label--checkbox::before {
  opacity: 0.1;
}

.sorter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}

.sorter__title {
  text-transform: uppercase;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
}

.sorter__list {
  width: 360px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sorter__item {
  margin-right: 26px;
}

.sorter__button {
  padding: 0;
  border: 0;
  background: transparent;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.29;
  letter-spacing: normal;
  font-size: 14px;
  opacity: 0.3;
  outline: none;
}

.sorter__button:focus,
.sorter__button:hover {
  opacity: 0.6;
}

.sorter__button:active,
.sorter__button--active {
  opacity: 1;
}

.sorter__item--down {
  margin: 0 0 0 21px;
}

.sorter__button--down::before {
  content: "";
  width: 11px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/svg/icon-down-dir.svg) no-repeat;
}

.sorter__item--up {
  margin: 0 0 0 18px;
}

.sorter__button--up::before {
  content: "";
  width: 11px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/svg/icon-up-dir.svg) no-repeat;
}


.preview {
  position: relative;
  overflow: hidden;
  margin-bottom: 33px;
  padding: 40px 0 0 0;
  border-radius: 4px 4px 0 0;
  background-color: #e5e5e5;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.preview::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 23px 0 #fff,
              46px 0 #fff;
}

.preview:hover {
  background-color: #4d4d4d;
  box-shadow: 0 7px 20px #bebebe;
}

.preview__image {
  display: block;
}

.preview__title {
  margin: 25px 0 16px 0;
}

.preview__btn {
  margin: 30px 0 44px 0 ;
}

.preview__link {
  line-height: 1.67;
}

.preview__text {
  max-width: 240px;
  margin: 0;
  color: #666666;
  line-height: 1.13;
  text-align: center;
}

.preview__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 40px;
  background-color: #eeeeee;
  flex-direction: column;
  flex-wrap: wrap;
  transform: translate(0, 100%);
  transition: transform .3s, opacity 1s;
}

.preview:hover .preview__description {
  transform: translate(0, 0);
  transition: transform .3s .3s, opacity .3s .3s;
}

.pagination__btn {
  margin-right: 8px;
}

.pagination__btn--active {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #d5d5d5;
}

.pagination__btn--next {
  padding-right: 78px;
  padding-left: 78px;
}

.map {
  position: relative;
  height: 417px;
  background: #e9e5dc url(../img/png/map.png) no-repeat center;
  background-size: cover;
}

.map__content {
  position: absolute;
  z-index: 1;
  top: 53px;
  left: 20px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .map__content {
    left: calc((100vw - 1160px) / 2 - 7px);
  }
}

.address {
  padding: 48px 50px 48px 48px;
  background: #ffffff;
}

.address__title {
  margin: 1px 0 24px 1px;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.67;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

.address__text,
.address__phone {
  margin: 0 0 0 3px;
  color: #666666;
  line-height: 1.13;
  font-style: normal;
}

.address__phone {
  display: block;
  margin-top: 17px;
  margin-bottom: 38px;
  text-decoration: none;
  outline: none;
}

.address__phone:hover,
.address__phone:focus {
  color: #fb565a;
  text-decoration: underline;
}

.social {
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 68px auto;
  flex-wrap: wrap;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e1e1e1;
  outline: none;
}

.social__link:hover,
.social__link:focus {
  background-color: #e74246;
  transition: background-color .2s linear;
}

.social__link:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social__link::before {
  display: block;
}

.social__link:active::before {
  opacity: 0.3;
}

.social__link--vk::before {
  content: "";
  width: 26px;
  height: 15px;
  background-image: url(../img/svg/vk-icon.svg);
}

.social__link--fb::before {
  content: "";
  width: 12px;
  height: 22px;
  background-image: url(../img/svg/fb-icon.svg);
}

.social__link--inst::before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url(../img/svg/insta-icon.svg);
}

.social__description {
  width: 760px;
  margin-top: 5px;
}

.social__text--small {
  margin: 0;
  color: #444444;
}

.social__text--big {
  margin: 0 0 10px 0;
  color: #000000;
  line-height: 1;
  font-size: 36px;
  font-weight: bold;
}

.slider {
  position: relative;
  height: 430px;
  overflow: hidden;
}

.slider__element {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(.75,1.19,.69,1.01);
}

.slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slide--active {
  z-index: 1;
  opacity: 1;
}

.slide--one {
  background: url(../img//png/cellphones.png) no-repeat right 31px top 17px;
}

.slide--two {
  background: url(../img//png/monitors.png) no-repeat right 1px top 0;
}

.slide--three {
  background: url(../img//png/tablets.png) no-repeat right 0px top 18px;
}

.slide__content {
  width: 560px;
  min-height: 65.5%;
}

.slide__title {
  margin: 0px 0 10px 0;
  color: #000000;
  line-height: 1;
  font-size: 55px;
  font-weight: 500;
}

.slide__text {
  margin: 30px 0;
}

.switch-panel {
  position: absolute;
  z-index: 1;
  bottom: 96px;
  left: 50%;
  min-width: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%);
}

.switch-panel__button {
  width: 18px;
  height: 18px;
  border:0;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

.switch-panel__button:hover,
.switch-panel__button:focus {
  background-color: #ffffff;
  box-shadow: 0 0 0 5px #ffffff inset,
              0 0 0 7px #c1c1c1 inset;
}

.switch-panel__button--active {
  box-shadow: 0 0 0 5px #ffffff inset,
              0 0 0 7px #c1c1c1 inset;
}

.media-item {
   width: 300px;
   margin-bottom: 20px;
   margin-top: 20px;
}

.media-item:not(:nth-child(3n+1)) {
  margin-right: 100px;
}

.media-item--website::before {
  content: "";
  width:300px;
  height: 146px;
  display: block;
  background: #fb565a url(../img/jpg/ill-website.jpg) no-repeat;
}

.media-item--apps::before {
  content: "";
  width:300px;
  height: 146px;
  display: block;
  background: #00ca74 url(../img/jpg/ill-apps.jpg) no-repeat;
}

.media-item--presentation::before {
  content: "";
  width:300px;
  height: 146px;
  display: block;
  background: #efc849 url(../img/jpg/ill-presentation.jpg) no-repeat;
}

.media-item__title {
  margin: 25px 0 15px 0;
  text-transform: uppercase;
  line-height: 1.25;
  font-size: 24px;
  font-weight: bold;
}

.media-item__text {

  width: 250px;
  margin: 0 0 28px 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: normal;
}

.company--description {
  width: 660px;
  padding-top: 17px;
}

.company--statistic {
  width: 360px;
}

.company__text {
  margin-top: 15px;
}

.company__text--xl {
  margin-bottom: 35px;
  color: #000000;
  line-height: 1;
  font-size: 45px;
  font-weight: 500;
}

.company__text--xs {
  margin-bottom: 38px;
}

.company__text--description {
  margin-top: 30px;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 16px;
  font-weight: bold;
}

.company__list {
  margin: 15px 0;
}

.company__item {
  margin: 24px 0;
}

.company__item::before {
  content: "";
  width: 25px;
  height: 2px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fb565a;
  vertical-align: middle;
}

.company__statistic {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.company__table {
  margin-top: 11px;
  border-collapse: collapse;
}

.table__title {
  display: table-footer-group;
  line-height: 1.13;
}

.table__value {
  display: table-header-group;
  color: #000000;
  font-size: 45px;
  font-weight: bold;
}

.table__row--number {
  width: 29.5%;
}

.table__row--text {
  padding-top: 10px;
}

.table__text--m {
  font-size: 26px;
  font-weight: 400;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  position: relative;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__item:not(:nth-child(3n+1)) {
  width: 300px;
}

.partners__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  transform: translate(-50%);
}

.partners__pic {
  object-fit: contain;
  opacity: 0.2;
  outline: none;
}

.partners__pic:hover,
.partners__pic:focus {
  opacity: 1;
  transition: opacity .2s .1s;
}

.partners__pic:active {
  opacity: 0.1;
}

.partners__img {
 position: relative;
 top: 4px;
}

.partners__img--html-academy {
  top: 9px;
  right: 10px;
}

.partners__img--mishka {
  top: 7px;
  left: 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }

  75% {
    transform: translateY(-1.5%);
    opacity: 0.85;
  }

  90% {
    transform: translateY(0.5%);
    opacity: 0.95;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.modal {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--disable {
  display: none;
}

.no-js .modal {
  display: flex;
  position: static;
  justify-content: center;
  outline: none;
}

.no-js .modal__content {
  box-shadow: none;
  opacity: 1;
}

.no-js .modal__close {
  display: none;
}

.modal__content {
  position: relative;
  padding: 68px 100px 70px 100px;
  background-color: #ffffff;
  box-shadow: 0px 20px 50px 1px rgba(0, 1, 1, 0.7);
}

.modal__content--active-animation {
  animation: bounce 0.3s;
}

.modal__content--error {
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
}

.modal__title {
  margin: 0;
  color: #000000;
  line-height: 1;
  font-size: 45px;
  font-weight: 500;
}

.modal__close {
  position: absolute;
  top: 80px;
  right: 90px;
}

.contact-form {
  width: 760px;
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  margin-bottom: 15px;
  color: #000000;
  line-height: 1.13;
  font-weight: bold;
  flex-wrap: wrap;
}

.contact-form__field {
  margin-bottom: 34px;
}

.contact-form__label {
  display: block;
  margin-bottom: 9px;
}

.contact-form__input {
  width: 360px;
  padding: 14px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  color: rgba(68, 68, 68, 0.5);
  letter-spacing: normal;
  box-sizing: border-box;
  outline: none;
  text-align: left;
}

.contact-form__input::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.contact-form__input:hover {
  border-color: #b4b9bb;
}

.contact-form__input:focus {
  color: #444444;
  border-color: #000000;
}

.contact-form__input:focus::placeholder {
  color: #444444;
}

.no-js .contact-form__input:invalid:not(:focus):not(:placeholder-shown) {
  color: #e74246;
  border-color: #e74246;
}

.contact-form__input--error {
  color: #e74246;
  border-color: #e74246;
}

.contact-form__input--error:not(:hover)::placeholder {
  color: #e74246;
}

.contact-form__input--textarea {
  width: 760px;
  height: 118px;
  padding: 12px;
  resize: none;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
